<div class="auth-main">
  <div class="auth-block">
    
      <img src="assets/img/core/unsacolor.png" width="150px" class="login-avatar" />
      <hr style="color: #fff; background-color: #fff;">
      <h1>{{nombreapp}}</h1>

        <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="form-horizontal">
          <div class="form-group row" [ngClass]="{'has-error': (!usuario.valid && usuario.touched), 'has-success': (usuario.valid && usuario.touched)}">
            <label for="inputEmail3" class="col-sm-2 control-label">Usuario:</label>

            <div class="col-sm-10">
              <input [formControl]="usuario" type="text" class="form-control" id="inputEmail3" placeholder="Ingrese su usuario" value="73271009">
            </div>
          </div>
          <div class="form-group row" [ngClass]="{'has-error': (!password.valid && password.touched), 'has-success': (password.valid && password.touched)}">
            <label for="inputPassword3" class="col-sm-2 control-label">Password:</label>

            <div class="col-sm-10">
              <input [formControl]="password" type="password" class="form-control" id="inputPassword3" placeholder="Ingrese su contraseña" value="password">
            </div>
          </div>
          <div *ngIf="dataUrl.withRoutes">
            <div class="form-group row"  [ngClass]="{'has-error': (!url1.valid && url1.touched), 'has-success': (url1.valid && url1.touched)}">
              <label for="inputurl1" class="col-sm-2 control-label">Ruta 1:</label>

              <div class="col-sm-10">
                <input [formControl]="url1" type="url" class="form-control" id="inputurl1" placeholder="Ingrese Ruta Seguridad">
              </div>
           </div>
            <div class="form-group row">
              <label for="inputurl2" class="col-sm-2 control-label">Ruta 2:</label>

              <div class="col-sm-10">
                <input [formControl]="url2" type="url" class="form-control" id="inputurl2" placeholder="Ingrese Ruta Servicio">
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-12 login-msg">
              {{mensaje_login}}
            </div>
          </div>
          <div class="form-group row" *ngIf="showMessageBrowserVersion">
            <div class="col-sm-12 login-msg">
              {{messaje_version}}
            </div>
          </div>
          <div class="form-group row">
            <div class="offset-sm-2 col-sm-10">
              <button [disabled]="!form.valid" type="submit" class="btn btn-default btn-auth">Aceptar</button>
              <!--<a routerLink="/login" class="forgot-pass">Forgot password?</a>-->
            </div>
          </div>
        </form>
      </div>
</div>