.btn-tool {
    margin-top: 12px;
    color: #fff;
    background-color: #B78997;
    border-color: #fff;
}
.fix-timepicker{
    margin-top:-20px;
}

.btn-meridiano{
    background-color: #6A2633 !important;
    color: white;
}

.timer{
    width: 50px;
    text-align: center;
}


