@import '../../../core/sass/conf/conf';
$height: 30px;

.ba-back-top {
  position: fixed;
  width: $height;
  height: $height;
  cursor: pointer;
  z-index: 9999;
  display: none;
  text-decoration: none;
  right: 40px;
  bottom: 40px !important;
  font-size: 25px;
  text-align: center;
  opacity: 0.4;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 50%;
  line-height: 26px;
  &:hover {
    opacity: 0.8;
  }
}
