# Ignore directory
dll/*
node_modules/*
dist/*
.vscode/*

# Ignore npm/yarn debug log
npm-debug.log
yarn-error.log

# Ignore others files

build.sh
Dockerfile
postcss.config.js
res.rar
tsconfig.json
tsconfig.webpack.json
tslint.json
typedoc.json
yarn.lock
editorconfig
project
.travis.yml