<div class="row">
    <div class="container">
        <div class="input-autocomplete">
            <input class="form-control" type="text" [(ngModel)]="query"  (keyup)="filter($event)">
            <div class="suggest-autocomplete">
                <ng-container *ngIf="filteredList.length > 0">
                    <div class="list-ac-container">
                        <ul class="list-group" *ngFor="let item of filteredList">
                            <li class="list-group-item" (click)="selectElement(item)">
                                {{item.text}}
                            </li>
                        </ul>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>