<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-xs-12 col-lg-12">
            <h2 class="titulo">{{titulo}}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <fieldset class="form-control">
                <legend>Detalle</legend>
                <div class="row">
                    <label class="col-md-6 col-form-label">
                        <strong>Programación: </strong>{{resultado.nombre}}
                    </label>
                </div>
                <div class="row">
                    <label class="col-md-6 col-form-label">
                        <strong>Fecha de inicio: </strong>{{resultado.fechaInicio}}
                    </label>
                    <label class="col-md-6 col-form-label">
                        <strong>Fecha de cierre: </strong>{{resultado.fechaFin}}
                    </label>
                </div>
                <div class="row">
                    <label class="col-md-6 col-form-label">
                        <strong>Encuestados: </strong>{{resultado.numEncuestados}}
                    </label>
                    <label class="col-md-6 col-form-label">
                        <strong>Participantes: </strong>{{resultado.numParticipantes}}
                    </label>
                </div>
            </fieldset>
        </div>
    </div>
</div>
<div class="container-fluid">
    <tabset>
        <tab heading="Resumen General">
            <div class="card col-md-12" style="box-shadow: 1px 1px 4px rgb(84, 78, 78);" *ngFor=" let pregunta of resultado.preguntas; let i = index">
                <div class="card-header">
                    <strong> Pregunta {{i+1}}</strong>
                </div>
                <div class="table-responsive card-block">
                    <h2 class="card-title">{{pregunta.enunciado}}</h2>
                    <table class="table table-striped table-bordered table-sm">
                        <thead class="thead-inverse">
                            <tr>
                                <th>Opción</th>
                                <th>Ponderación</th>
                                <th>Conteo</th>
                                <th>Porcentaje</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor=" let opcion of pregunta.opciones; let j = index">
                                <td>{{opcion.nombre}}</td>
                                <td>{{opcion.ponderacion}}</td>
                                <td>{{opcion.conteo}}</td>
                                <td>{{(opcion.conteo/pregunta.conteoTotal)| percent}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </tab>
        <tab heading="Resumen Gráfico">

            <div class="row card" style="box-shadow: 1px 1px 4px rgb(84, 78, 78);" *ngFor=" let grafico of graficos; let i = index">
                <div class="card-block">
                    <h4 class="card-title">Pregunta {{i+1}}</h4>
                    <h6 class="card-subtitle mb-2 text-muted">{{grafico.enunciado}}</h6>
                    <ba-card baCardClass="with-scroll">
                        <div class="col-md-12 col-xs-12 col-lg-12">
                            <div class=" pull-left">
                                <button class="active" type="button" (click)="establecerGrafico(grafico,'bar')">
                                    <span tooltip='Barra'>
                                        <i class="fa fa-bar-chart"></i>Barra
                                    </span>
                                </button>
                                <button (click)="establecerGrafico(grafico,'pie')">
                                    <span tooltip='Pie'>
                                        <i class="fa fa-pie-chart"></i>Pie
                                    </span>
                                </button>
                            </div>
                        </div>
                        <ba-chartist-chart *ngIf="grafico.tipo=='bar'" baChartistChartClass="ct-chart" baChartistChartType="Bar" [baChartistChartData]="grafico['bar'].data"
                            [baChartistChartOptions]="options">
                        </ba-chartist-chart>
                        <ba-chartist-chart *ngIf="grafico.tipo=='pie'" baChartistChartClass="ct-chart" baChartistChartType="Pie" [baChartistChartData]="grafico['pie'].data"
                            [baChartistChartOptions]="options">
                        </ba-chartist-chart>
                    </ba-card>
                </div>
            </div>
        </tab>
    </tabset>
</div>