$default: #000; // default colors for layout
$body-bg: #F0F3F4; // default bg color

$default-text: $default; // default text color layout (usually is the same as $default)
$content-text: $default-text; // content text color on card, panels, form, etc
$help-text: $default-text; // additional text color for hits

$label-text: $default-text; // labels color
$disabled: rgba(0, 0, 0, 0.4); // color for disabled state
$disabled-bg: rgba(0, 0, 0, 0.3); // background color for disable state
$border: rgba(255, 255, 255, 0.5); // border color
$border-light: rgba(255, 255, 255, 0.3); // lighter version of border color (for hovers)
$input-border: rgba(0, 0, 0, 0.2); // input border color
$input-background: rgba(255, 255, 255, 0.1); // input border color for hover
$input-background-disable: rgba(0, 0, 0, 0.05); // input border color for hover
$dropdown-text: #7d7d7d; // dropdown text color

// sidebar colors
$sidebar: #6a2633;
$sidebar-text: #000;
$sidebar-text-sub: #000;
$sidebarvertical: #f1f1f1;

// specific components colors
$mail-box: whitesmoke;
$auth-panel-background: #ffffff;
$progress-background: rgba(0, 0, 0, 0.15);
$progress-default: rgba($default-text, 0.95);

// bootstrap card panel styles
$bootstrap-panel-radius: 7px;
$bootstrap-panel-text: #ffffff;
$bootstrap-panel-bg: rgba(255, 255, 255, 0.1);
$bootstrap-panel-header-bg: transparent;
$bootstrap-panel-header-border: 1px solid $border-light;
$bootstrap-panel-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);

// preloader scheme
$pre-background: #5c212c;
$pre-primer: #727376;
$pre-second: #fff;
$pre-tercer: #28314E;

// color scheme
$bluesoft: #0069C4 !default;
$grayli: #ddd !default;
$graylie: #eaeaea !default;
$primary: #00abff !default;
$info: #40daf1 !default;
$success: #8bd22f !default;
$warning: #e7ba08 !default;
$danger: #f95372 !default;
// color scheme
$defecto: #727376 !default;
$informativo: #0275d8 !default;
$informativo2: #081369 !default;
$correcto: #1D9C0E !default;
$incorrecto: #d9534f !default;
$cuidado: #f0ad4e !default;
// variantes
$primary-light: tint($primary, 30%);
$info-light: tint($info, 30%);
$success-light: tint($success, 30%);
$warning-light: tint($warning, 30%);
$danger-light: tint($danger, 30%);

$primary-dark: shade($primary, 15%);
$info-dark: shade($info, 15%);
$success-dark: shade($success, 15%);
$warning-dark: shade($warning, 15%);
$danger-dark: shade($danger, 15%);

$primary-bg: tint($primary, 20%);
$info-bg: tint($info, 20%);
$success-bg: tint($success, 20%);
$warning-bg: tint($warning, 20%);
$danger-bg: tint($danger, 20%);

// link colors
$activelink: #285eb8;
$hoverlink: darken($activelink, 20%);


// color scheme unsa
$goldunsa: #D2AE6D !default;

$table_selected: #f2e8d6;

$unsa-granate-f: #6a2633;
$unsa-granate-s: #5c212c;

$unsa-oro: #6a2633;
$unsa-plata: #727376;
$unsa-azul: #28314E;
$unsa-gold: #D2AE6D;

$sucess: #5cb85c;
  $sucess-top: #3d8b3d;
  $sucess-med: #5cb85c;
  $sucess-bot: #91cf91;
$warn: #f0ad4e;
  $warn-top: #df8a13;
  $warn-med: #f0ad4e;
  $warn-bot: #f6ce95;
$danger: #d9534f;
  $danger-top: #b52b27;
  $danger-med: #d9534f;
  $danger-bot: #e7908e;

// main background
@mixin body-bg() {
  background-color: #fff;
  $mainBgUrl: $images-root + 'sky-bg.jpg';

  &::before {
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /*background: url($mainBgUrl) no-repeat center center;*/
    background-size: cover;
    will-change: transform;
    z-index: 0;
  }
}

// additional background if you want another layer
@mixin additional-bg() {
  //display: block; // additional background layer, hidden by default
}
