<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-xs-12 col-lg-12">
      <h2 class="titulo">{{titulo}}</h2>
    </div>
  </div>
  <form [formGroup]="form" novalidate>
    <div class=" form-group row">
      <div class="col-md-12">
        <fieldset class="form-control">
          <legend>Detalle</legend>
          <div class="form-group row">
            <label class="col-md-2 col-form-label">Nombre</label>
            <div class="col-md-10">
              <input class="form-control" type="text" formControlName="nombre" [value]="dtoOutConsultarEncuestaPlantilla.nombre" [(ngModel)]="dtoActualizarEncuestaPlantilla.nombre"
                placeholder="Ingrese un titulo">
                <div *ngIf="appControlsForm.validControls.nombre" class="valid valid-danger">
                    {{appControlsForm.validControls.nombre}}
                </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-2 col-form-label">Descripción</label>
            <div class="col-md-10">
              <input class=" form-control" type="text" formControlName="descripcion" [value]="dtoOutConsultarEncuestaPlantilla.descripcion" [(ngModel)]="dtoActualizarEncuestaPlantilla.descripcion"
                placeholder="Ingrese una descripción">
                <div *ngIf="appControlsForm.validControls.descripcion" class="valid valid-danger">
                    {{appControlsForm.validControls.descripcion}}
                </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button class="btn btn-unsa-nuevo pull-right" [disabled]="!form.valid" (click)="actualizarEncuestaPlantilla()">Guardar </button>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
  </form>
</div>
<div class="container-fluid">
  <fieldset>
    <legend>Preguntas</legend>
    <div *ngFor="let pregunta of preguntas; let i = index">
      <div class="col-md-10" [ngSwitch]="pregunta.idTipoPregunta">
        <div class="form-group row pregunta" *ngSwitchCase="'0'">
          <div class="col-md-12">
            <label class="col-form-label">{{i+1}}. {{pregunta.enunciado}}</label>
          </div>
          <div class="col-md-12">
            <input disabled class="col-md-12 form-control" type="text" [placeholder]="pregunta.textoAyuda">
          </div>
        </div>
        <div class="form-group row" *ngSwitchCase="'1'"> 
          <div class="col-md-12">
            <label class="col-form-label">{{i+1}}. {{pregunta.enunciado}}</label>
          </div>
          <div class="col-md-12" *ngFor="let opcion of pregunta.opciones">
            <div class="col-md-9">
              <div class="radio disabled">
                <label>
                  <input type="radio" [name]="opcion" disabled>{{opcion.valor}}</label>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row" *ngSwitchCase="'2'"> 
          <div class="col-md-12">
            <label class="col-form-label">{{i+1}}. {{pregunta.enunciado}}</label>
          </div>
          <div class="col-md-12" *ngFor="let opcion of pregunta.opciones">
            <div class="col-md-9">
              <div class="radio disabled">
                <label>
                  <input type="checkbox" [name]="opcion" disabled>{{opcion.valor}}</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <button type="button" class="btn btn-unsa-xs" (click)="actualizarPregunta(pregunta)">
          <i class="fa fa-pencil-square-o"></i>
        </button>
        <button type="button" class="btn btn-unsa-xs" (click)="eliminarPregunta(pregunta)">
          <i class="fa fa-trash-o" aria-hidden="true"></i>
        </button>
      </div>
    </div>
    <div *ngIf="preguntas.length === 0" class="valid valid-danger">
        Ninguna pregunta ingresada
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10 "></div>
        <div class="col-md-2">
          <div class="btn-group-vertical">
            <button class="btn btn-unsa-nuevo pull-right" (click)="crearPregunta()">
              <i class="fa fa-plus" aria-hidden="true"></i> Nuevo
            </button>
          </div>
        </div>
      </div>
    </div>
  </fieldset>
</div>
<crearPreguntaModalCmp (reloadForm)="listarPreguntaPorIdPlantilla()"></crearPreguntaModalCmp>
<actualizarPreguntaModalCmp (reloadForm)="listarPreguntaPorIdPlantilla()"></actualizarPreguntaModalCmp>
<baConfirmDialogCmp></baConfirmDialogCmp>