<div class="modal fade" bsModal #actualizarPreguntaModalCmp="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
    aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form [formGroup]="form" novalidate >
                <!-- cabecera -->
                <div class="modal-header">
                    <button type="button" class="close" (click)="cerrar()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title">{{titulo}}</h5>
                </div>
                <!-- Cuerpo -->
                <div class="modal-body">
                    <div class="form-group row">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <fieldset class="form-control">
                                        <legend>Datos</legend>
                                        <!-- row -->
                                        <div class="form-group row">
                                            <div class="col-md-12">
                                                <label class="col-md-3 col-form-label">Pregunta</label>
                                                <div class="col-md-9">
                                                    <input class="col-md-12 form-control" type="text" placeholder="Ingresar una pregunta" id="titulo" name="titulo" formControlName="enunciado">
                                                    <div *ngIf="appControlsForm.validControls.enunciado" class="valid valid-danger">
                                                        {{appControlsForm.validControls.enunciado}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <div class="form-group row">
                                            <div class="col-md-12">
                                                <div class="col-md-12  checkbox">
                                                    <label>
                                                        <input type="checkbox" formControlName="estadoObligatorio">Obligatoria</label>
                                                </div>
                                            </div>
                                        </div> -->
                                        <div class="form-group row">
                                            <div class="col-md-12">
                                                <label class="col-md-3 col-form-label">Tipo de Pregunta</label>
                                                <div class="col-md-9">
                                                <select class="form-control" id="tipo" name="tipo" formControlName="tipoPregunta" #selTipo (change)="mostrarFormulario(form.controls['tipoPregunta'].value)">
                                                    <option *ngFor="let tipo of tipoPregunta" [ngValue]="tipo.id">{{tipo.nombre}}</option>
                                                </select>
                                                <div *ngIf="appControlsForm.validControls.tipo" class="valid valid-danger">
                                                    {{appControlsForm.validControls.tipo}}
                                                </div>
                                                </div>
                                            </div>
                                            </div>
                                    </fieldset>
                                    <div>
                                        <fieldset class="form-control">
                                            <legend>Elección única</legend>
                                            <!-- row -->
                                            <div class="form-group row" formArrayName="preguntaOpciones">
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <label class="col-md-5 col-form-label">Nombre</label>
                                                        <label class="col-md-5 col-form-label">Asignar puntaje</label>
                                                    </div>
                                                    <div class="row" *ngFor="let opcion of form.controls['preguntaOpciones'].controls; let i = index">
                                                        <div [formGroupName]="i">
                                                            <div class="col-xs-4">
                                                                <input type="text" class="form-control" name="option[]" formControlName="valor" />
                                                            </div>
                                                            <div class="col-xs-4">
                                                                <input type="number" class="form-control" name="option[]" formControlName="ponderacion" />
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-4">
                                                            <button type="button" class="btn btn-default removeButton" (click)="removerOpcion(i)">
                                                                <i class="fa fa-trash-o"></i>
                                                            </button>
                                                            <button type="button" class="btn btn-default" (click)="desplazar(i,-1)">
                                                                <span>
                                                                    <i class="fa fa-arrow-up" aria-hidden="true"></i>
                                                                </span>
                                                            </button>
                                                            <button type="button" class="btn btn-default" (click)="desplazar(i,1)">
                                                                <span>
                                                                    <i class="fa fa-arrow-down" aria-hidden="true"></i>
                                                                </span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12">
                                                    <div class="row">
                                                        <div class="col-xs-10"></div>
                                                        <div class="col-xs-2">
                                                            <button class="btn btn-unsa-nuevo pull-right" (click)="agregarOpcion()">
                                                                <i class="fa fa-plus" aria-hidden="true"></i> Nuevo
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="obl">(*) Todos los campos son obligatorios</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dunsa" (click)="cerrar()">Cancelar</button>
                    <button type="submit" class="btn btn-aunsa" [disabled]="!form.valid" (click)="actualizarPregunta()">Aceptar</button>
                </div>
            </form>
        </div>
    </div>
</div>