<div class="modal fade" bsModal #crearProgramacionModalCmp="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
    aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form [formGroup]="form" novalidate>
                <!-- cabecera -->
                <div class="modal-header">
                    <button type="button" class="close" (click)="cerrar()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title">{{titulo}}</h5>
                </div>
                <!-- Cuerpo -->
                <div class="modal-body">
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label required">Plantilla</label>
                        <div class="col-md-8">
                            <select class="form-control" name=plantilla formControlName="plantilla" (ngModelChange)="setNombreProgramacion($event)">
                                <option *ngFor="let opcion of plantillas" [ngValue]="opcion">{{opcion.nombre}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row" [ngClass]="{'has-danger': !form.controls.nombreEncuesta.valid && !form.controls.nombreEncuesta.pristine}">
                        <label class="col-md-3 col-form-label required"  for="nombreEncuesta">Nombre de la Programación</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" name="nombreEncuesta" formControlName="nombreEncuesta" [ngClass]="{'form-control-danger': !form.controls.nombreEncuesta.valid}">
                        </div>
                    </div>
                    <div class="form-group row" [ngClass]="{'has-danger': !form.controls.descripcion.valid && !form.controls.descripcion.pristine}">
                        <label class="col-md-3 col-form-label" for="descripcion">Descripción</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" name="descripcion" formControlName="descripcion" [ngClass]="{'form-control-danger': !form.controls.descripcion.valid}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label required">Tipo</label>
                        <div class="col-md-8">
                            <select class="form-control" name=plantilla formControlName="tipoProgramacion">
                                <option *ngFor="let tipo of tipoProgramacion" [ngValue]="tipo.id">{{tipo.nombre}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="obl">(*) Campos Obligatorios</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dunsa" (click)="cerrar()">Cancelar</button>
                    <button type="submit" class="btn btn-aunsa" [disabled]="!form.valid" (click)="generarProgramacion()">Aceptar</button>
                </div>
            </form>
        </div>
    </div>
</div>