@import 'conf/conf';


.alert-default{
    background-color: #f1f1f1;
    border-color: #ddd;
    color: #000;
}
.alert-informativo {
    background-color: #d9edf7;
    border-color: #bcdff1;
    color: #31708f;
}
.alert-exito {
    background-color: #dff0d8;
    border-color: #d0e9c6;
    color: #3c763d;
}
.alert-cuidado {
    background-color: #fcf8e3;
    border-color: #faf2cc;
    color: #8a6d3b;
}
.alert-peligro {
    background-color: #f2dede;
    border-color: #ebcccc;
    color: #a94442;
}
.alert-error_bug {
    background-color: #77b7cd;
    border-color: #77b7cd;
    color: #FFF;
}
.alert-error_neg {
    background-color: #77cdb8;
    border-color: #77cdb8;
    color: #000;
}
.alert-error_ext {
    background-color: #3d6390;
    border-color: #3d6390;
    color: #FFF;
}
.alert-error_rpt {
    background-color: #bbbbbb;
    border-color: #ededed;
    color: #000;
}

.leyenda-top-success {
  @include bgr-diagonal-sup($sucess-top, $sucess-med);
}
.leyenda-bot-success {
  @include bgr-diagonal-inf($sucess-top, $sucess-med);
}
.leyenda-hor-success {
  @include bgr-line-horizontal($sucess-top, $sucess-med);
}
.leyenda-ver-success {
  @include bgr-line-vertical($sucess-top, $sucess-med);
}

.leyenda-top-warn {
  @include bgr-diagonal-sup($warn-top, $warn-med);
}
.leyenda-bot-warn {
  @include bgr-diagonal-inf($warn-top, $warn-med);
}
.leyenda-hor-warn {
  @include bgr-line-horizontal($warn-top, $warn-med);
}
.leyenda-ver-warn {
  @include bgr-line-vertical($warn-top, $warn-med);
}

.leyenda-top-danger {
  @include bgr-diagonal-sup($danger-top, $danger-med);
}
.leyenda-bot-danger {
  @include bgr-diagonal-inf($danger-top, $danger-med);
}
.leyenda-hor-danger {
  @include bgr-line-horizontal($danger-top, $danger-med);
}
.leyenda-ver-danger {
  @include bgr-line-vertical($danger-top, $danger-med);
}