@import 'conf/conf';

@mixin bgr-diagonal-sup($colora, $colorb) {
  background: repeating-linear-gradient(
    45deg,
    $colora,
    $colora 10px,
    $colorb 10px,
    $colorb 20px
    );
}

@mixin bgr-diagonal-inf($colora, $colorb) {
  background: repeating-linear-gradient(
    -55deg,
    $colora,
    $colora 10px,
    $colorb 10px,
    $colorb 20px
    );
}

@mixin bgr-line-horizontal($colora, $colorb) {
  background: repeating-linear-gradient(
    to bottom,
    $colora,
    $colora 10px,
    $colorb 10px,
    $colorb 20px
    );
}

@mixin bgr-line-vertical($colora, $colorb) {
  background: repeating-linear-gradient(
    to right,
    $colora,
    $colora 10px,
    $colorb 10px,
    $colorb 20px
    );
}

.mprimary,
.minfo,
.minformativo,
.mazul {
    color: $informativo !important;
}
.mprimary-back,
.minfo-back,
.minformativo-back,
.mazul-back {
    background-color: $informativo !important;
}

.msucess,
.mexito,
.mverde {
    color: $correcto !important;
}
.msucess-back,
.mexito-back,
.mverde-back {
    background-color: $correcto !important;
}

.mwarning,
.mcuidado,
.mamarillo {
    color: $cuidado !important;
}
.mwarning-back,
.mcuidado-back,
.mamarillo-back {
    background-color: $cuidado !important;
}

.mdanger,
.mpeligro,
.mrojo {
    color: $incorrecto !important;
}
.mdanger-back,
.mpeligro-back,
.mrojo-back {
    background-color: $incorrecto !important;
}

.mceleste {
    color: #5bc0de!important;
}
.mceleste-back {
    background-color: #5bc0de!important;
}

.mblanco {
    color: #fff !important;
}
.mblanco-back {
    background-color: #fff !important;
}

.mnegro {
    color: #000 !important;
}
.mnegro-back {
    background-color: #000 !important;
}