.horario {
    display: -webkit-flex;
   display: flex;
}
.cabeceraDia {
    border: 1px solid #EAEAEA;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    background-color: #F0F0F0 !important;
}
.flexcontainer {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    flex-wrap: nowrap;
}
.diahorario {
	height: 900px;
    flex: 1 0 0;
    border: 1px solid #EAEAEA;
}
.elementos {
    padding: 0;
    border-bottom: 1px solid #EAEAEA;
    display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
}
.divHora {
    border-top: 1px solid #EAEAEA;
}
.containerHorario{
	flex: 1 0 0;
}
.marcadordias{
    flex-grow: 1
}
.diashorario{
    flex-grow: 23
}
.marcadordiasc {
    height: 30px;
}
.marcadordiasd {
    height: 900px;
    border: 1px solid rgba(0, 0, 0, 0.0);
    
}
.refcontenedor{
 text-align: right;
}
.referenciahora {
    vertical-align: baseline;
    display: inline-block;
    transform: translateY(-60%);
    font-size: small; 
    padding-right: 3px;
}
.sesion {
    background-color: #08C;
    border-left: 1px solid white;
    color: white;
    cursor: pointer;
    padding: 0;
    border-radius: 4px;
}
.sesion1 {
    background-color: #5525FF;
    border-left: 1px solid white;
    color: white;
    cursor: pointer;
    padding: 0;
    border-radius: 4px;
}
.sesion2 {
     background-color: #0AB211;
    border-left: 1px solid white;
    color: white;
    cursor: pointer;
    padding: 0;
    border-radius: 4px;   
}
.sesion3 {
     background-color: #FF9E4C;
    border-left: 1px solid white;
    color: white;
    cursor: pointer;
    padding: 0;
    border-radius: 4px;   
}
.sesion4 {
     background-color: #573DB2;
    border-left: 1px solid white;
    color: white;
    cursor: pointer;
    padding: 0;
    border-radius: 4px;   
}
.sesion5 {
    background-color: #2CCC32;
    border-left: 1px solid white;
    color: white;
    cursor: pointer;
    padding: 0;
    border-radius: 4px;
}

.asignable {
    background: aquamarine;
}
.topcorner {
	position:absolute;
	top: 0;
	right: 0;
	border: 6px solid transparent;
	color: azure;
}