<div class="flexcontainer">
	<div class="marcadordias">
		<div class="marcadordiasc">
			
		</div>
		<div class="marcadordiasd">
			<div class="refcontenedor" *ngFor="let marcador of marcadoresHora;"  
			[style.height.%]="marcador.numSeg*100/confObject.numeroDivisiones" >
				<span class="referenciahora">{{marcador.hora}}</span>
			</div>
		</div>
	</div>
	<div class="diashorario">
		<div class="flexcontainer">
			<div class="containerHorario cabeceraDia" *ngFor="let horarioDia of tbHorarioSemana;">
				{{getValueDia(horarioDia.dia)}}
			</div>
		</div>
		<div class="flexcontainer">
			<div  class="containerHorario" *ngFor="let horarioDia of tbHorarioSemana; let indexDia = index;">
				<div class="diahorario">
					<div [attr.title]="tbSesion.horaInicio" 
					class="elementos" id="{{tbSesion.segmentoInicial}}" 
					[ngClass]="getClassSesion(tbSesion)"
					[style.height.%]="tbSesion.numSeg*100/confObject.numeroDivisiones"
					*ngFor="let tbSesion of horarioDia.sesiones; let indexCelda = index;"  
					(click)="seleccionarCelda(indexCelda, indexDia, $event)" 
					(contextmenu) = "eliminarObjectEvent(indexCelda, indexDia, $event)">
						<div class="topcorner" *ngIf="tbSesion.sesion != null && tbSesion.numSeg > 2">
							 <i class="fa fa-times-circle" (click)="eliminarObjectEvent(indexCelda, indexDia, $event)"></i> 
						</div>		
						<span *ngIf="tbSesion.sesion != null">
							<div style="text-align  : center">{{tbSesion.sesion.textoPrincipal}}</div>
							<div style="text-align  : center">{{tbSesion.sesion.texoSecundario}}</div>
							</span>
					</div>
				</div>
			</div>  
		</div>
	</div>
</div>




